/* Define a CSS class named .grid */
.activity-details-container {
  margin-left: 50px; /* Add a 20-pixel margin around the grid */
  margin-right: 50px; /* Add a 20-pixel margin around the grid */
  transition: 300ms; /* Change as needed */
}

.div-range-slider-pace {
   width: 50%;
   margin: 0 auto; /* Center the div horizontally if needed */

}

.activity-graph-container {
  margin-top: 10px; /* Add a 20-pixel margin around the grid */
  margin-bottom: 10px; /* Add a 20-pixel margin around the grid */
}


.dash-graph {
    transition: height 0.5s ease, width 0.5s ease;
}