/* Define a CSS class named .grid */
.activity-details-container {
    display: grid; /* Use CSS Grid layout */
    grid-template-columns: 25% 1fr;
    transition: 300ms; /* Change as needed */
    height: 500px
}


/* Define a CSS class named .grid */
.analysis-details-container {
    display: grid; /* Use CSS Grid layout */
    grid-template-columns: 70% 1fr;
    transition: 300ms; /* Change as needed */
    padding: 50px;
}


.activity-graph-container {
    margin-top: 10px; /* Add a 20-pixel margin around the grid */
    margin-bottom: 10px; /* Add a 20-pixel margin around the grid */
}


/* CSS for the Grid */
.grid_button {
    display: grid;
    grid-gap: 15px;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.button-select-intervals {
    display: inline-block;
    font-weight: 1000;
    color: #222;
    font-size: 1rem;
    vertical-align: middle;
    position: relative;
}

.button-select-intervals:hover {
    opacity: 1;
    color: #FFFFFF;
    background-color: #F39C12;
    border: 1px #99ccff solid;
    font-family: 'Outfit';

}

.button-select-intervals:active {
    font-family: 'Outfit';
    background-color: #F39C12;
    border: 1px #000000 solid;
}

.button-select-intervals:disabled,
button-select-intervals[disabled] {
    opacity: 1;
    color: #FFFFFF;
    background-color: #F39C12;
    border: 1px #99ccff solid;
    font-family: 'Outfit';
}